.config/Audaciousrc
.config/BraveSoftware/
.config/Clementine/
.config/Code - OSS/
.config/Electron/
.config/Flavio Tordini/
.config/GIMP/
.config/Heimer/
.config/Heimerrc
.config/KDE/
.config/Kvantum/
.config/Mathpix/
.config/Meltytech/
.config/Mupen64Plus-Qtrc
.config/MuseScore/
.config/PBE/
.config/Parom.TV/
.config/PlasmaUserFeedback
.config/Popcorn-Time/
.config/PopcornTime/
.config/QtProject.conf
.config/QtProject/
.config/Recoll.org/
.config/TeXstudiorc
.config/TelegramDesktoprc
.config/Trolltech.conf
.config/Unknown Organization/
.config/VirtualBox/
.config/VirtualBoxrc
.config/Zenkit To Do/
.config/akregatorrc
.config/alacritty/
.config/arkrc
.config/audacious/
.config/autostart-scripts/
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/basketrc
.config/bauh/
.config/bluedevilglobalrc
.config/breezerc
.config/cantorrc
.config/cava/
.config/cef_user_data/
.config/chromium-flags.conf
.config/chromium/
.config/compton.conf
.config/configstore/
.config/dconf/
.config/discord/
.config/dolphinrc
.config/dragonplayerrc
.config/draw.io/
.config/drawpile/
.config/elisarc
.config/emaildefaults
.config/enchant/
.config/falkon/
.config/falkonrc
.config/filelightrc
.config/filetypesrc
.config/fontconfig/
.config/fontforge/
.config/gambas3/
.config/git-cola/
.config/gitahead.com/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/htop/
.config/i3/.vscode/
.config/i3blocks/
.config/i3status/
.config/imagewriterrc
.config/inkscape/
.config/kactivitymanagerd-pluginsrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kaffeinerc
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katesyntaxhighlightingrc
.config/katevirc
.config/kcmfonts
.config/kcminputrc
.config/kcmshell5rc
.config/kconf_updaterc
.config/kde.org/
.config/kdebugrc
.config/kdeconnect/
.config/kded5rc
.config/kdeglobals
.config/kdenliverc
.config/kdeveloprc
.config/kdevpythonsupportrc
.config/kdialogrc
.config/kfindrc
.config/kfontinstuirc
.config/kfontviewrc
.config/kgammarc
.config/kgetrc
.config/kglobalshortcutsrc
.config/khelpcenterrc
.config/khotkeysrc
.config/kinfocenterrc
.config/kiorc
.config/kioslaverc
.config/klipperrc
.config/kmenueditrc
.config/kmetainformationrc
.config/kmixrc
.config/kmplayerrc
.config/kmplotrc
.config/knfsshare
.config/kolourpaintrc
.config/komparerc
.config/konquerorrc
.config/konsolerc
.config/konversationrc
.config/kraxarn/
.config/krulerrc
.config/krunnerrc
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/ksplashrc
.config/ksysguardrc
.config/ktimezonedrc
.config/kwalletmanager5rc
.config/kwalletrc
.config/kwin_rules_dialogrc
.config/kwinrc
.config/kwinrulesrc
.config/kwriterc
.config/kxkbrc
.config/labplot2rc
.config/lattedockrc
.config/libaccounts-glib/
.config/libinput-gestures-qtrc
.config/libinput-gestures.conf
.config/libinput-gestures.conf.old
.config/libreoffice/
.config/lutris/
.config/lyrics-in-terminal/
.config/manjaro-hello.json
.config/manjaro/
.config/megacubo/
.config/menus/
.config/mimeapps.list
.config/ms-office-onlinerc
.config/mupen64plus/
.config/neofetch/
.config/obs-studio/
.config/ocenaudiorc
.config/okularpartrc
.config/okularrc
.config/optimus-manager/
.config/otter/
.config/pamac-qtrc
.config/pamac/
.config/plasma-locale-settings.sh
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma.emojierrc
.config/plasma_calendar_holiday_regions
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/plasmavaultrc
.config/polybar/
.config/powermanagementprofilesrc
.config/pulse/
.config/qBittorrent/
.config/qBittorrentrc
.config/qgit/
.config/qgit4rc
.config/qmmprc
.config/qt5ct/
.config/qv4l2rc
.config/remmina/
.config/sddmthemeinstallerrc
.config/session/
.config/skype/
.config/skypeforlinux/
.config/smplayer/
.config/smplayerrc
.config/soffice.binrc
.config/spectaclerc
.config/spotify-qtrc
.config/spotify/
.config/spotifyd
.config/spotui/
.config/strawberry/
.config/streamCapture2/
.config/systemmonitorrc
.config/systemsettingsrc
.config/teamviewer/
.config/termite/
.config/texstudio/
.config/touchpadxlibinputrc
.config/transmission/
.config/trashrc
.config/tuxclocker.conf
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior/
.config/vlc/
.config/vlcrc
.config/whatsapp-nativefier-7bbd2c/
.config/whatsapp-nativefier-d40211/
.config/whatsapp-nativefier-d52542/
.config/xsettingsd/
.config/yakimka/
.config/yakuakerc
.config/ytmdl/
.config/zim/
.config/zoomus.conf
.local/bin/
.local/etc/
.local/include/
.local/lib/
.local/share/
.local/share/RecentDocuments/
.local/share/TelegramDesktop/
.local/share/Trash/
.local/share/applications/chrome-hmjkmjkepdijhoojdojkdfohbdgmmhki-Default.desktop
.local/share/applications/code-oss.desktop
.local/share/applications/gimp.desktop
.local/share/applications/mpv.desktop
.local/share/applications/org.inkscape.Inkscape.desktop
.local/share/applications/org.manjaro.pamac.manager.desktop
.local/share/applications/ranger.desktop
.local/share/applications/urxvt-usercreated-1.desktop
.local/share/applications/urxvtc.desktop
.local/share/baloo/
.local/share/color-schemes/
.local/share/data/
.local/share/desktop-directories/
.local/share/fonts/
.local/share/gvfs-metadata/
.local/share/gwenview/
.local/share/icons/
.local/share/jupyter/
.local/share/kactivitymanagerd/
.local/share/kate/
.local/share/kcookiejar/
.local/share/kdevelop/
.local/share/klipper/
.local/share/knewstuff3/
.local/share/konsole/
.local/share/kscreen/
.local/share/ksysguard/
.local/share/kwalletd/
.local/share/kxmlgui5/
.local/share/okular/
.local/share/plasma/
.local/share/plasma_notes/
.local/share/plasmashell/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/sddm/
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
Área de trabalho
Applications
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.dir_colors
.directory
Documentos
Downloads
.face
.face.icon
.fehbg
.fonts
.git
.gitconfig
.gnome
.gnupg
.gtkrc-2.0
.icons
Imagens
.kde4
.lesshst
logs
MEGA
.megaCmd
Modelos
Música
.npm
.pki
.profile
Público
.pylint.d
.python_history
.ssh
Vídeos
.vscode-oss
.w3m
.wget-hsts
.Xauthority
.Xclients
.xinitrc
.zshrc
.calc_history
.local/share/kdevappwizard/
.local/share/kdevfiletemplates/
