configuration {
	show-icons: true;
	drun-display-format: "{icon} {name}";
	display-window: "";
	display-windowcd: "";
	display-ssh: "";
	display-drun: "";
	display-file-browser: "";
	display-calc: "";
	me-select-entry: "";
	me-accept-entry: "MousePrimary";
	theme: "/home/jp/.config/rofi/list.rasi";
}

window {
	margin: -2px;
	border: 4;
	border-radius: 5;
	border-color: #41C6C8;
}
